<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="css/fonts.css">
    <link rel="stylesheet" href="css/moviestyle.css">
    <link rel="stylesheet" href="css/topBar.css">

    <!-----------------------------------------FONTS--------------------------------------------    -->
    <script src="https://kit.fontawesome.com/663c835d81.js" crossorigin="anonymous"></script>
    <style>
        
    </style>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,1,200" />

    <!--------------------------------------SCRIPTS----------------------------------------------->
    <script src="scripts/moviePageScripts/navSidebar.js"></script>
    <script src="scripts/template.js"></script>
    <!--    these scripts contain functions which render page when
        username, movieReviewObject and movieName is passed
        This is for simplicity and to make sure that page is loaded properly before js
            these are executed below this ejs file
    -->
    <script src="scripts/moviePageScripts/getMovieObjects.js"></script>
    <script src="scripts/moviePageScripts/renderMoviePage.js"></script>
    <script src="scripts/moviePageScripts/renderReviewSection.js" ></script>
    <script src="scripts/moviePageScripts/displaySimilar.js"></script>
    
</head>
<body>

    <div class="top-bar"></div>
    <script src="scripts/topBarScripts/addTopBarHtml.js"></script>
    <script>setUser("<%=user %>")</script>
    <script src="scripts/topBarScripts/topBar.js" type="module"></script>
        <!-- since the topBar includes other js files , it has to be treated as a module -->

    <template movie-card-search-template>
        <div class="movie-card-search">
            <div class="image-box"><img src="image.jpg" style="height: 100%;" poster></div>
            <p style="padding-left: 1rem; margin-top: 0.25rem; font-size: 1.1rem; font-weight: 600; opacity: 0.9; max-width: 25rem; overflow: hidden;" title></p>
         </div>
    </template>
    
   
    <div class="navigation-sidebar">

        <button class="nav-button" data-location="#overview-id">Overview</button>
        <button class="nav-button" data-location="#cast-and-crew-id">Cast & Crew</button>
        <button class="nav-button" data-location="#plot-id">Plot</button>
        <button class="nav-button" data-location="#reviews-id">Reviews</button>
        <button class="nav-button" data-location="#similar-movies-id">Watch More</button>

    </div>

    <div class="main-div">

        <!--    the blurred background of the poster-->
        <div class="backdrop-image"></div>
        <div class="navigation-sidebar-backdrop"></div>
        <!------------------------------- OVERVIEW ------------------------------->
        <div class="overview" id="overview-id">
                <div class="movie-poster"><img style="height: 100%;" id="movie-poster-id"></div>
                <div>
                    <h2 style="color: rgb(255, 255, 255); margin-bottom: 0px; margin-top: 0px;" id="title-id"></h2>
                    <hr style="opacity: 0.15;">
                    <div class="info" ></div>
                    <hr style="opacity: 0.15;">
                    <h4 class="quote"></h4>   
                </div>
             
        </div>

        

        <hr style="opacity: 0.5; margin: 3rem; margin-inline: 1rem; position: relative;">

        <!----------------------------- CAST & CREW ------------------------------->
        <div class="cast-and-crew" id="cast-and-crew-id" style="padding-left: 3rem; position: relative;">
            <h4 id="director-id"></h4>
            <h4 style="font-weight: 600;">cast: </h4>
            <ul style="list-style: none;" id="cast-list-id"></ul>
        </div>

        <hr style="opacity: 0.5; margin: 3rem; margin-inline: 1rem;">

        <!------------------------------- PLOT ------------------------------------>
        <div class="plot" id="plot-id" style="padding-left: 3rem;">
            <h4 style="font-weight: 600;">Plot:</h4>
            <p id="plot-content-id"></p>
        </div>

        <hr style="opacity: 0.5; margin: 3rem; margin-inline: 1rem;">

        <!------------------------------ REVIEWS ---------------------------------->
        <div class="reviews" id="reviews-id">
            <h4>Reviews:</h4>

            <p style="display: inline;">Your Review : </p>
            <p id="user-review-stat"></p><!-- to display if the user has already reviewed or not-->
            <button class="new-review-button">Write your review</button>

            <!-- this is the review page which will be hidden by default -->
            <div>
                
                <form class="new-review-form" action="/review" method="post" style="display: none;">
                    
                    <label for="review-input">Your Review : </label>
                    <textarea id="review-input" rows="3" name="review" required></textarea>
                    <select id="rating-input" name="rating" required>
                        <option value="" disabled selected>Give Rating</option>
                        <option value="5">5</option>
                        <option value="4">4</option>
                        <option value="3">3</option>
                        <option value="2">2</option>
                        <option value="1">1</option>
                    </select>
                    <button type="submit" value="<%= movieName %>" name="submitReview" >Go</button>
                
                </form>
            </div>


            <p style="display: inline;">what others think : </p>
            <div style="padding: 0rem;" class="filter-section">
                <button class="toggle-filter"><i class="fa-solid fa-filter"></i></button>
                <button class="filter-button">1</button>
                <button class="filter-button">2</button>
                <button class="filter-button">3</button>
                <button class="filter-button">4</button>
                <button class="filter-button">5</button>
            </div>
             

            <p id="otherusers-review-stat"></p>

            <div class="review-grid"></div>
            <!-- to display the reviews from the reviews.json-->
            <template review-card-template>
                <div class="review-card">
                    <div class="user-and-rating" style="align-items: x  ;">
                        <p rating></p>
                    </div>
                    <p class="review-text" style="margin: 0.5rem;" review></p>
                    <!-- <div class="user-and-rating" style="align-items: x  ;">
                        <p reviewer-name></p>
                    </div> -->
                    <p reviewer-name style="margin-top: 0rem; margin-bottom: 0.5rem; margin-inline: 3rem; text-align: right; font-style: italic; opacity: 0.7; display: inline;"></p>
                </div>
            </template>
            
        </div>

        <hr style="opacity: 0.5; margin: 3rem; margin-inline: 1rem;">

        <div class="external-reviews">
            <h4>Featured review : </h4>
            <div class="featured-review"></div>
            <h4>Reviews from MetaCritic : </h4>
        </div>

        <hr style="opacity: 0.5; margin: 3rem; margin-inline: 1rem;">

    
        <!-- ----------------------------------SIMILAR MOVIES ----------------------------------->
        <p>similar movies</p>
    <div class="similar-movies" id="similar-movies-id"></div>
        
        <script src="scripts/template.js" ></script>
    
    </div>

    
    
    <!-- the functions used below are from files imported at the top of this file -->
    <script>
        //import { renderPage } from "scripts/moviePageScripts/renderMoviePage.js";

        // ** converting encoded strings to normal
        // ** for eg, "Schindler'39;s List" is send to this page as "Schindler&#39;s List" by server.js
        function decodeEntities(encodedString) {
            const textarea = document.createElement('textarea');
            textarea.innerHTML = encodedString;
            return textarea.value;
        }

        const movieName ='<%= movieName %>'; 
        const userName = '<%= user %>';
        
        const userReviewObject = "<%= userReviewJson %>"
        const externalReviews = "<%= externalReviews %>"
        

        renderPage(userName , decodeEntities(movieName))    // from renderMoviePage.js
        showReviews(userName , JSON.parse(decodeEntities(userReviewObject)))//from renderReviewSection.js
        
        console.log()
        
        addExternalReviews(JSON.parse(decodeEntities(externalReviews)))
        displayNewReviewForm(userName,movieName)                  // from renderReviewSection.js
        displaySimilarMovies(decodeEntities(movieName))     // from displaySimilar.js
    </script>


    </div>
</body>