<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="css/moviestyle.css">
    <link rel="stylesheet" href="css/topBar.css">
    <script src="https://kit.fontawesome.com/663c835d81.js" crossorigin="anonymous"></script>

    <!--    these scripts contain functions which render page when
        username, movieReviewObject and movieName is passed
        This is for simplicity and to make sure that page is loaded properly before js
            these are executed below this ejs file
    -->
    <script src="scripts/moviePageScripts/renderMoviePage.js"></script>
    <script src="scripts/moviePageScripts/renderReviewSection.js"></script>
</head>
<body>

    <div class="top-bar">

        <div class="navigation-div">
            <p class="logo">FilmCritic</p>
        </div>

        <div class="search-div">
            <label for="search-input-id" class="search-label">Search</label>
            <div class="search-bar-div">
                <input id="search-input-id" class="search-input" type="text" >
                <div id="search-output-id" class="search-output"></div>
            </div>
            <button id="search-submit-button-id" class="search-submit-button">&#10148;</button>
        </div>
        
        <div class="user-div">
            <button class="user-button"><%=user%></button>
        </div>

        <div class="user-details">
            <p><span class="fa-solid fa-user"></span> <span style="opacity: 0.5;">&#x2022;</span> <%=user%></p>
            <button id="logout-button-id"><span class="fa-solid fa-right-from-bracket"></span> <span style="opacity: 0.5;">&#x2022;</span> </button>
        </div>


        <script src="scripts/topBarScripts/topBar.js" type="module"></script>
        <!-- since the topBar includes other js files , it has to be treated as a module -->

    </div>

    <template movie-card-search-template>
        <div class="movie-card-search">
            <div class="image-box"><img src="image.jpg" style="height: 100%;" poster></div>
            <p style="padding-left: 1rem; margin-top: 0.25rem; font-size: 1.1rem; font-weight: 600; opacity: 0.9; max-width: 25rem; overflow: hidden;" title></p>
         </div>
    </template>
    

    <div class="navigation-sidebar">

        <a href="#overview-id"><button>overview</button></a>
        <a href="#cast-and-crew-id"><button>cast & crew</button></a>
        <a href="#plot-id"><button>plot</button></a>

    </div>

    <div class="main-div">

        <!--    the blurred background of the poster-->
        <div class="backdrop-image"></div>
        
        <!------------------------------- OVERVIEW ------------------------------->
        <div class="overview" id="overview-id">
            <h2 id="title-id"></h2>
            <div style="display: flex; flex-direction: row;">
                <div class="movie-poster"><img style="height: 100%;" id="movie-poster-id"></div>
                <div class="info"></div>
            </div>   
        </div>

        <hr style="opacity: 0.5; margin: 3rem; margin-inline: 1rem;">

        <!----------------------------- CAST & CREW ------------------------------->
        <div class="cast-and-crew" id="cast-and-crew-d" style="padding-left: 3rem;">
            <h4 id="director-id"></h4>
            <h4 style="font-weight: 600;">cast: </h4>
            <ul style="list-style: none;" id="cast-list-id"></ul>
        </div>

        <hr style="opacity: 0.5; margin: 3rem; margin-inline: 1rem;">

        <!------------------------------- PLOT ------------------------------------>
        <div class="plot" id="plot-id" style="padding-left: 3rem;">
            <h4 style="font-weight: 600;">Plot:</h4>
            <p id="plot-content-id"></p>
        </div>

        <hr style="opacity: 0.5; margin: 3rem; margin-inline: 1rem;">

        <!------------------------------ REVIEWS ---------------------------------->
        <div class="reviews">
            <h4>Reviews:</h4>

            <p>Your Review : </p>
            <p id="user-review-stat"></p><!-- to display if the user has already reviewed or not-->
            <button class="new-review-button">Write your review</button>

            <!-- this is the review page which will be hidden by default -->
            <div>
                
                <form class="new-review-form" action="/review" method="post" style="display: none;">
                    
                    <label for="review-input">Your Review : </label>
                    <textarea id="review-input" rows="3" name="review" required></textarea>
                    <select id="rating-input" name="rating" required>
                        <option value="" disabled selected>Give Rating</option>
                        <option value="5">5</option>
                        <option value="4">4</option>
                        <option value="3">3</option>
                        <option value="2">2</option>
                        <option value="1">1</option>
                    </select>
                    <button type="submit" value="<%= movieName %>" name="submitReview" >Go</button>
                
                </form>
            </div>

            <p>what others think : </p>
            <p id="otherusers-review-stat"></p>
            <!-- to display the reviews from the reviews.json-->
            <template review-card-template>
                <div class="review-card">
                    <div class="user-and-rating">
                        <p reviewer-name></p><p rating></p>
                    </div>
                    <p class="review-text" review></p>
                </div>
            </template>
            
        </div>

        <hr style="opacity: 0.5; margin: 3rem; margin-inline: 1rem;">
    </div>
        <script>
            // ** converting encoded strings to normal
            // ** for eg, "Schindler'39;s List" is send to this page as "Schindler&#39;s List" by server.js
            function decodeEntities(encodedString) {
                const textarea = document.createElement('textarea');
                textarea.innerHTML = encodedString;
                return textarea.value;
            }

            const movieName ='<%= movieName %>'; 
            const userName = '<%= user %>';
            const movieReviewObject = "<%= movieReviewJson %>"

            renderPage(userName , decodeEntities(movieName))
            showReviews(userName , JSON.parse(decodeEntities(movieReviewObject)))
        </script>
    </div>
</body>